.specs{
    padding-top: 0.6rem;
}

.specs_text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid rgb(190, 192, 195);
}

.specs p{
    color: rgb(190, 192, 195);
}

.specs span{
    color: white;
}


