.techspecs{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../../assets/banner2.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.techspec_body{
    width: 80%;
    max-width: 40rem;
}

.spec_subheading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-bottom: 3rem;
}
